# - - - - - - - - - -

# General
.DS_Store

# - - - - - - - - - -

# CocoaPods 
Pods/

# - - - - - - - - - -

# Project
*/xcuserdata/*

*.moved-aside
*.xcworkspace
*.xcuserstate
*.xccheckout

# - - - - - - - - - -
